/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.menuBar{
	-fx-background-color:#ffffff;
}
.siderBar{
	-fx-background-color:#ff00ff;
}
.font {
	-fx-font-size:18px;
}
.bg-white{
	-fx-background-color:#ffffff;
}